body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: #8e997d;
}

h2 {
  margin:15px 0px;
  color: #f5f5ff;
}


#board {
  /* background-color: skyblue; */
  background-image: url("./flappybirdbg.png");
}

/* Kapsayıcı div'i göreceli (relative) konumlandırıyoruz.
        Bu, içindeki mutlak (absolute) konumlandırılmış elemanlar için
        bir referans noktası olmasını sağlar. */
#container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 30px;
}

#myCanvas {

  position: absolute;
  top: 0;
  left: 0;
}